body
{
    background: rgb(19,15,84);
background: linear-gradient(90deg, rgba(19,15,84,1) 0%, rgba(34,34,175,1) 35%, rgba(0,212,255,1) 100%);
   
    /* background-color: rgba(80, 141, 255, 0.801); */
    /* background-image: linear-gradient(blue,rgb(57, 57, 221),rgb(89, 89, 214),rgb(130, 156, 226));
} */
}
.main 
{
    position: absolute;
    top: 40px;
    left: 40px;
    /* border: brown 2px solid; */
    border-radius: 10px;
    height: 90vh;
    width: 95vw;
    background-color:white ;
}
.main img
{
    height: 240px;
    width: 240px;
    border: 8px double rgba(80, 141, 255, 0.801);
    border-radius: 150px;
    position: relative;
    top: 90px;
    left: 250px;

}
.main h1{
    position: absolute;
    left: 600px;
    top: 70px;
    font-size: 60px;
    font-family: 'Fjalla One', sans-serif;
}

#para1
{
    position: absolute;
    left: 600px;
    top: 180px;
    color: rgba(108, 112, 119, 0.801);
}
.contactus
{
    
    color:white;
    background: rgb(63, 132, 223);
    height: 30px; 
    width: 140px;
}
#contactme
{
    position: absolute;
    left: 700px;
    top: 280px;
}
#projects
{
    position: absolute;
    left: 900px;
    top: 280px;
}
button:hover
{
    /* height: 34px; 
    width: 140px; */
    background-color: rgb(114, 169, 241);
}

.box
        { 
            display: inline-block 
            ;
            border: 2px rgba(0,212,255,0.2) solid;
            height: 250px;
            width: 250px;
        margin: 10px;
        position: relative;
        bottom: 40px;
        left: 140px;
        color: rgba(108, 112, 119, 0.801);
        text-align: center;
        margin: 20PX;
        background-color:rgb(211, 238, 238);
        }
        .box:hover
        {
            position: relative;
        bottom: 50px;
        }
.box h2
{
color: black;
}
.skill
{
    position: absolute;
    bottom: 20px;
}
